<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <h2>User info</h2>
       <%= form_with model:@user, local:true do |f| %>
       <div class= "form_group">
         <div class= "user_name">Name</div>
         <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %>
       </div>
       <div class= "form_group">
         <div class= "user_image">Image</div>
         <%= f.attachment_field :profile_image, placeholder:"Image" %>
       </div>
       <div class= "form_group">
         <div class= "user_introduction">Introduction</div>
         <%= f.text_area :introduction, autofocus: true %>
       </div>
       <div class= "form_group">
        <%= f.submit "Update" %>
       </div>
       <% end %>
      </div>
    </div>
  </div>
</main>
