<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-md-3">
       <h2>User info</h2>
       <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %>
       <table class="table">
         <tbody>
           <tr></tr>
           <tr>
             <th>name</th>
             <th><%= @user.name %></th>
           </tr>
           <tr>
             <th>introduction</th>
             <th><%= @user.introduction %></th>
           </tr>
         </tbody>
       </table>
       <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-secondary" %>
       <h2>New book</h2>
       <% if @book.errors.any? %>
       <% book_errors = @book.errors.count %>
       <% if book_errors == 1 %>
       <%= @book.errors.count %> error prohibited this obj from being saved:
       <% else %>
       <%= @book.errors.count %> errors prohibited this obj from being saved:
       <% end %>
       <p><% @book.errors.full_messages.each do |message| %></p>
       <%= message %>
       <% end %>
       <% end %>

       <%= form_with model:@book, local:true do |f| %>
       <div class= "form_group">
         <div class= "book_title">Title</div> <!--labelからdivに変更-->
         <%= f.text_field :title %>
       </div>
       <div class= "form_group">
         <div class= "book_opinion">Opinion</div> <!--labelからdivに変更-->
         <%= f.text_area :body %>
       </div>
       <div class= "form_group">
         <%= f.submit 'Create Book'%>
       </div>
       <% end %>
      </div>
      <div class= "col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class= "table">
          <tbody>
            <tr>
              <td>
               <%= link_to user_path(@books.user.id) do %>
               <div><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></div>
               <div><%= @books.user.name %><div>
               <% end %>
              </td>
              <td><%= @books.title %></td>
              <td><%= @books.body %></td>
              <% if @user.id == current_user.id %>
              <td><%= link_to "Edit", edit_book_path(@books.id) %></td>
              <td><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？"%></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>

