<div class="profile-container">
  <h2>User info</h2>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg" %>
  <h3 class="profile-name"><%= @user.name %></h3>
  <h3 class="profile-introduction"><%= @user.introduction %></h3>
  <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h1>New book</h1>
<%= form_with model:@book, local:true do |f| %>
<h4>Title</h4>
<%= f.text_field :title %>
<h4>Opinion</h4>
<%= f.text_area :body %>
<div><%= f.submit 'Create book'%></div>
<% end %>

<h1>Book detail</h1>
<p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
<%= link_to user_path(@books.id) do %>
<p><%= @books.user.name %></p>
<% end %>
<p><%= @books.title %></p>
<p><%= @books.body %></p>
<% if @user.id == current_user.id %>
<%= link_to "Edit", edit_book_path(@books.id) %>
<%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に削除しますか？"%>
<% end %>
